<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
</head>
<body ng-app="MySApp" ng-cloak>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
  
  <script src="https://unpkg.com/mathjs@5.10.3/dist/math.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
  
  <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
  
  <script type="text/javascript">    
    var app = angular.module('MySApp', ['ngMaterial', 'ngMessages']);
	
	app.controller('MySAppCtrl', function($scope, $window) {
	
	  
	   /*
		Funcion principal que hace:
			1. Dibuja el grafico de F(x)
			2. Inicializa valores
			3. Itera de 1 al valor ingresado n, y por cada uno:
				3.1 Genera un punto aleatorio
				3.2 Chequea si el punto aleatorio esta dentro de F(x) o no.
				3.3 Actualiza el grafico de F(x) dibujando el punto aleatorio generado
				3.4 Calcula Ik
				3.5 Actualiza el grafico de las Ik
	   */
	   $scope.calc = function () {
		  
		  $scope.drawFx($scope.fx, $scope.a, $scope.b);
		  
		  $scope.integralsK = [];
		  $scope.integralsIK = [];
		  $scope.n1Pos = 0;
		  $scope.n1Neg = 0;
		  $scope.currentI = 0;
		  
		  $scope.randomPointsGreen = {};
		  $scope.randomPointsGreen.x = [];
		  $scope.randomPointsGreen.y = [];
		  $scope.randomPointsGreen.mode = 'markers';
		  $scope.randomPointsGreen.type = 'scatter';
		  $scope.randomPointsGreen.color = 'green';
		  $scope.randomPointsGreen.name = 'Aciertos';
		  
		  $scope.randomPointsRed = {};
		  $scope.randomPointsRed.x = [];
		  $scope.randomPointsRed.y = [];
		  $scope.randomPointsRed.mode = 'markers';
		  $scope.randomPointsRed.type = 'scatter';
		  $scope.randomPointsRed.color = 'red';
		  $scope.randomPointsRed.name = 'Errores';
		  
		  for(var k=1; k <= $scope.n; k++) {
			  
			   setTimeout(function(kN) {    
					var randomPoint = $scope.getRandomPoint();
				    $scope.isInFunction(randomPoint);
			        $scope.updateFx($scope.fx, $scope.a, $scope.b);
			        $scope.calculateI(kN);
				    $scope.updateIkGraph();
				}, 250, k); 
				
		  }
		  
	   };
	   
	   /*
		1. Dibuja el grafico de F(x)
	   */
	   $scope.drawFx = function(fx, a, b) {
			try {
			  const expr = math.compile(fx);
			  $scope.mathFunction = expr;
			
			  b = parseFloat(b) + parseFloat('0.01');
			  const xValues = math.range(a, b, 0.1).toArray();
			  const yValues = xValues.map(function (x) {
				return expr.eval({x: x});
			  })

			  const points = {
				x: xValues,
				y: yValues,
				type: 'scatter'
			  };
			  points.name = 'F(x)';
			  
			  var max = math.max(yValues);
		      var min = math.min(yValues);
			  
			  $scope.c = max;
			  $scope.cmin = min;
			  
			  const pointsRectangle = $scope.getRectangle();
			  const data = [points, pointsRectangle, $scope.randomPointsGreen, $scope.randomPointsRed];
			  
			  Plotly.update('fxPlot', data);
			  
			} catch (err) {
			  
			}
	   };
	   
	   /*
		3.1 Genera un punto aleatorio
	   */
	   $scope.getRandomPoint = function () {
		  var x = Math.random() * ($scope.b - $scope.a) + parseInt($scope.a, 10);
		  var y = Math.random() * ($scope.c - $scope.cmin) + parseFloat($scope.cmin);
		  var point = {};
		  point.x = x;
		  point.y = y;
	
		  return point;
	   };
	   
	   /*
	    3.2 Chequea si el punto aleatorio esta dentro de F(x) o no.
	   */
	   $scope.isInFunction = function (randomPoint) {
		   var fderandom = $scope.mathFunction.eval({x: randomPoint.x});
		   
		   if((randomPoint.y <= fderandom && randomPoint.y >= 0)) {
			  $scope.randomPointsGreen.x.push(randomPoint.x);
			  $scope.randomPointsGreen.y.push(randomPoint.y);
			  $scope.n1Pos++; 
		   } else if ((randomPoint.y >= fderandom && fderandom < 0 && randomPoint.y <= 0)) {
			  $scope.randomPointsGreen.x.push(randomPoint.x);
			  $scope.randomPointsGreen.y.push(randomPoint.y);
			  $scope.n1Neg++; 
		   }else {
			  $scope.randomPointsRed.x.push(randomPoint.x);
			  $scope.randomPointsRed.y.push(randomPoint.y);
		   }
		    
	   };
	   
	   /*
	    3.3 Actualiza el grafico de F(x) dibujando el punto aleatorio generado
	   */
	   $scope.updateFx = function(fx, a, b) {
			try {
			  const expr = math.compile(fx);
			  $scope.mathFunction = expr;

			  b = parseFloat(b) + parseFloat('0.01');
			  const xValues = math.range(a, b, 0.01).toArray();
			  const yValues = xValues.map(function (x) {
				return expr.eval({x: x});
			  })

			  const points = {
				x: xValues,
				y: yValues,
				type: 'scatter'
			  };
			  points.name = 'F(x)';
			  
			  const pointsRectangle = $scope.getRectangle();
			  const data = [points, pointsRectangle, $scope.randomPointsGreen, $scope.randomPointsRed];
			  
			  Plotly.react('fxPlot', data);
			}
			catch (err) {
			  
			}
	   };
	   
	   /*
		3.4 Calcula Ik
	   */
	   $scope.calculateI = function (k) {
		  var area = ($scope.b - $scope.a) * ($scope.c - $scope.cmin);
		  var ikPos = ($scope.n1Pos / k) * area;
		  var ikNeg = ($scope.n1Neg / k) * area;
		  var ik = ikPos - ikNeg;
		  $scope.integralsK.push(k);
		  $scope.integralsIK.push(ik);
		  $scope.currentI = ik.toFixed(2);
		  $scope.$apply()
	   };
	 
	   /*
	    3.5 Actualiza el grafico de las Ik
	   */
	   $scope.updateIkGraph = function() {
			try {
			  
			  const ikPoints = {
				x: $scope.integralsK,
				y: $scope.integralsIK,
				type: 'scatter'
			  };
			  ikPoints.name = 'Ik';
			  
			  const data = [ikPoints];
			  
			  Plotly.newPlot('ikPlot', data);
			}
			catch (err) {
			  
			}
	   };
	   
	    $scope.getRectangle = function() {
	     
		  const points = {};
		  points.type = 'scatter';
		  points.x = [$scope.a,$scope.a,$scope.b,$scope.b, $scope.a];
		  points.y = [$scope.cmin,$scope.c,$scope.c,$scope.cmin, $scope.cmin];
		  points.name = 'R';
		  
		  return points;
	   };
	   
	   $scope.reset = function () {
		  $scope.n1Pos = 0;
		  $scope.n1Neg = 0;
		  $scope.integralsK = [];
		  $scope.integralsIK = [];
	   };
	   
	   $scope.reset();
	   
	   $scope.fx = 'sin(x^2)';
	   $scope.a = -5;
	   $scope.b = 5;
	   $scope.n = 10;
	   $scope.currentI = 0;
	   
	});
  </script>
  
  <div id="container" ng-controller="MySAppCtrl">
	
	<div id="header">	
		
		<div class="input-group mb-3">
		  <div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">F(x)</span>
		  </div>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="fx">
		  
		  <div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">n</span>
		  </div>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="n">
		  
		  <div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">a</span>
		  </div>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="a">
		  
		  <div class="input-group-prepend">
			<span class="input-group-text" id="basic-addon1">b</span>
		  </div>
		  <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="b">
		  
		  <button type="button" class="btn btn-primary" ng-click="calc()">Calcular</button>
		  
		</div>
	</div>
	<div id="content">
		<div id="fxPlot"></div>
		
		<div class="text-center"> 
			<button type="button" class="btn btn-primary center-block">
			  Ik= <span class="badge badge-light">{{currentI}}</span>
			  <span class="sr-only">unread messages</span>
			</button>
		</div>
		
		<div id="ikPlot"></div>
	</div>
  </div>

</body>
</html>